* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0px;
    margin: 0px;
}


.content {
    flex-grow: 1;
}

.header {
    padding: 10px 100px;
    background-color: #1F2937;
    color: white;
    padding-bottom: 60px;   
}

.header nav {
    margin-bottom: 50px;
}

.header nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    column-gap: 10px;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#navigation-home {
    margin-left: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-image {
    padding: 16px;
    width: 500px;
    height: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.projects-slideshow {
    padding: 10px 10px 50px 10px;
}

.projects-slideshow h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.project-cards {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.project-card {
    max-width: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.project-card img {
    border: solid 2px rgb(152, 152, 236);
    min-width: 80px;
    min-height: 80px;
    border-radius: 6px;
}

.testimonial {
    padding: 50px;
    background-color: #e5e7eb;
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 80px;
}

.testimonial figure {
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin: 0px auto;
}

.testimonial figcaption {
    display: flex;
    justify-content: flex-end; 
    margin-right: 60px;
    font-size: 18px;  
    font-weight: 700;
}

.call-to-action {
    background: #3882f6;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

a{
    text-decoration: none;
    color: white;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;   
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.hero p {
    font-size: 18px;
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 18px;
}

.call-to-action button {
    border: solid 2px white;
}