* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    flex-grow: 1;
}

.header {
    padding: 10px 100px;
}

.header nav {
    margin-bottom: 50px;
}

.header nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    column-gap: 10px;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#navigation-home {
    margin-left: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-image {
    padding: 16px;
    width: 500px;
    height: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.projects-slideshow h2 {
    text-align: center;
}

.project-cards {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.project-card {
    max-width: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.project-card img {
    border: solid 2px rgb(152, 152, 236);
    min-width: 80px;
    min-height: 80px;
    border-radius: 6px;
}

.testimonial {
    padding: 50px;
}

.testimonial figure {
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin: 0px auto;
}

.testimonial figcaption {
    display: flex;
    justify-content: flex-end; 
    margin-right: 60px;  
}

.call-to-action {
    box-sizing: border-box;
    width: 860px;
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
}